<div class="row" *ngFor="let row of Configuration.DefaultRowsCount | splitRows">
  <div class="col-sm seat {{ seat.isReserved ? 'reserved' : 'available' }}" *ngFor="let seat of Seats | splitSeats: Configuration.DefaultSeatsCount" id="row{{row}}_seat{{seat.id}}" (click)="reserve(row, seat.id)"></div>
</div>
