.seat {
  height: 30px;
  margin: 1px;
  border-radius: 0.50rem;
  background-color: #64b5f6;
}

.seat:hover {
  background-color: #0077c2;
}

.available {
  background-color: #64b5f6;
}

.reserved {
  background-color: #8d8d8d;
}
